VIDEO_ANALYZER_CLIENT=openai_api
VIDEO_ANALYZER_API_KEY=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
VIDEO_ANALYZER_API_URL=https://openrouter.ai/api/v1
VIDEO_ANALYZER_MODEL=meta-llama/llama-3.2-11b-vision-instruct:free
